@use "../abstracts/mixins";
@use "../abstracts/variables";

footer {
  padding: 10rem 15rem 2.5rem;
  background: black;

  @include mixins.mobile {
    padding: 10rem 5rem 2.5rem;
  }

  @include mixins.tab {
    padding: 10rem 5rem 2.5rem;
  }

  & .footer-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;

    @include mixins.mobile {
      flex-direction: column;
    }

    & .mission {
      width: 30%;
      &-text {
        margin-top: 2rem;
      }
    }

    & .link {
      flex: 1;
      margin-top: 3rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.policies {
  padding: 2em 4em;
  width: 50vw;
  max-height: 95vh;
  background: variables.$color-bg;
  box-shadow: variables.$outer-neomorphism-box-shadow;
  overflow-y: auto;
}
