@use "../abstracts/variables";

.form-section {
  display: flex;

  &-text {
    width: 50%;

    &-content {
      margin: 3rem 0;
    }
  }

  .form {
    box-shadow: variables.$outer-neomorphism-box-shadow;
    padding: 6rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .inputs {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 70%;
      & .phone {
        display: flex;
        align-items: stretch;

        & .phone-country-code {
          background-color: #1fa7fe;
          box-shadow: variables.$outer-neomorphism-box-shadow;
          display: grid;
          place-items: center;
          padding: 1rem;
          border-radius: 10px;
        }
      }
    }
  }
}
