.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .hero-text {
    width: 50%;
  }

  .hero-cta {
    display: flex;
  }

  // @media screen and (max-width: 1320px) {
  //   flex-direction: column-reverse;
  // }
}
