@use "../abstracts/variables";

nav {
  background: variables.$color-bg;
  width: 100%;
}

.nav-fixed {
  position: fixed;
  padding-top: 3em;
  padding-bottom: 3em;
  margin-top: 0;
  top: 0;
  left: 0;
  z-index: 10;
}
