@use "../abstracts/variables";

.stations {
  margin: 20rem 0;
  display: flex;
  .station-search-form {
    width: 600px;
    padding: 12.5rem 7rem 12.5rem 15rem;
    box-shadow: variables.$outer-neomorphism-box-shadow;
  }
  .map {
    flex: 1;
    font-size: 2rem;
    background-color: #eeeeee;
    color: black;
    object-fit: cover;
  }
}
