@use "../abstracts/variables";
@use "../abstracts/mixins";

.stations {
  margin: 0;
  display: flex;
  .station-search-form {
    width: 600px;
    padding: 12.5em 7em 12.5em 13em;
    box-shadow: variables.$outer-neomorphism-box-shadow;
  }
  .map {
    flex: 1;
    font-size: 2rem;
    background-color: #eeeeee;
    color: black;
    object-fit: cover;
  }

  @include mixins.tab {
    .station-search-form {
      padding: 9em 5em;
    }
  }

  @include mixins.mobile {
    display: block;
    text-align: center;
    .station-search-form {
      width: 100%;
      padding: 5em 2.5em;
      box-shadow: variables.$outer-neomorphism-box-shadow;
    }
    .map {
      height: 600px;
      font-size: 2rem;
      background-color: #eeeeee;
      color: black;
      object-fit: cover;
    }
  }
}
