@use "../abstracts/mixins";

.steps {
  margin: 15em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-text {
    width: 35%;
    margin-right: 5em;
    &-header {
      margin-bottom: 2em;
    }
  }

  &-illustration {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
  }

  @include mixins.mobile {
    &-illustration {
      margin-bottom: 2em;
    }
  }
}
