.btn {
  width: 205px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 2rem;
}

.play-store {
  background-image: url("../assets/google-play-badge.svg");
}

.app-store {
  background-image: url("../assets/app-store-download-logo.svg");
}
