@use "../abstracts/variables";
@use "../abstracts/mixins";

.card {
  box-shadow: variables.$outer-neomorphism-box-shadow;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4em 1em;
  width: 30%;
  .card-logo {
    width: 9.5em;
  }
  .card-heading {
    margin: 1em 0;
    text-align: center;
  }

  @include mixins.mobile {
    width: 96%;
    height: 95%;
    position: absolute;
    transition: all 0.5s;
    margin-right: 2em;
  }
}
