@use "../base/animations";

.hero-earth {
  position: relative;
  & .earth-bg {
    animation: earth-bg 30s linear 0s infinite;
  }
  & .earth {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: none;
    animation: earth 30s linear 0s infinite;
  }
}
