@use "../base/animations";

.hero-earth {
  position: relative;
  width: 40%;

  & .earth-bg {
    animation: earth-bg 30s linear 0s infinite;
  }
  & .earth-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
  }
  & .earth {
    width: 80%;
    height: 80%;
    object-fit: contain;
    animation: earth 30s linear 0s infinite;
  }
}
