.feature-box {
  height: 80vh;
  background: black;
  display: grid;
  place-items: center;
  .feature {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-logo {
      margin-bottom: 0.2em;
      width: 1.5em;
      height: 1.5em;
    }

    &-content {
      transition: opacity 0.2s ease-out;
    }
  }
}
