@use "../abstracts/variables";

.form-input {
  outline: none;
  padding: 2rem;
  width: 100%;
  box-shadow: variables.$inner-neomorphism-box-shadow;
  background: transparent;
  border: none;
  color: white;
  border-radius: 0.5em;
}

.form-btn {
  width: 100%;
  padding: 2rem;
  border-radius: 0.5em;
  background: #b6f2cf;
}

.search-icon {
  position: relative;
  &::placeholder::before {
    content: "hello";
  }
}
