@use "../abstracts/variables";

.form-input {
  outline: none;
  padding: 1em 2em;
  width: 100%;
  box-shadow: variables.$inner-neomorphism-box-shadow;
  background: transparent;
  border: none;
  color: white;
  border-radius: 0.5em;
}

.form-btn {
  width: 100%;
  padding: 0.8em;
  border-radius: 0.5em;
  background: #b6f2cf;
  cursor: pointer;
}

.search-icon {
  position: relative;
}
