@use "../abstracts/variables";
@use "../abstracts/mixins";

.modal {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background: variables.$color-bg-low-opacity;
  backdrop-filter: blur(5px);
  z-index: 100;

  &-content {
    width: 50vw !important;
  }

  &-close {
    display: flex;
    justify-content: flex-end;
    & .modal-close-btn {
      font-size: 3rem;
      cursor: pointer;
    }
  }

  @include mixins.mobile {
    padding: 2em;
    &-content {
      width: 100vw !important;
      height: 100% !important;
      border-radius: 0 !important;
    }
  }
}

.off {
  display: none;
}
