@use "../abstracts/variables";

.modal {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background: variables.$color-bg-low-opacity;
  backdrop-filter: blur(5px);
  z-index: 100000;
}

.off {
  display: none;
}
