@use "../abstracts/variables";

.steps-illustration {
  box-shadow: variables.$inner-neomorphism-box-shadow;
  background: variables.$color-bg;
  margin-top: 3em;
  padding: 2em 0;
  border-radius: 10px;
  & .step {
    // padding: 4rem 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    &-header {
      margin: 3rem 0 1rem;
    }

    &-icon {
      // width: 5rem;
      // height: 5rem;
      font-size: 2.5rem;
    }
  }
}
