$color-bg: #1b1d20;
$color-bg-low-opacity: #1b1d2069;
$outer-neomorphism-box-shadow: -4px -4px 8px #27292d, 4px 4px 8px #070809;
$inner-neomorphism-box-shadow: inset -4px -4px 8px #27292d,
  inset 4px 4px 8px #070809;
$text-main: #ffffff;
$text-sub-main: #eeeeee;
