@keyframes earth {
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes earth-bg {
  100% {
    transform: rotateZ(-360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
