@use "../abstracts/variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background: variables.$color-bg;
  user-select: none;
  &::-webkit-scrollbar {
    width: 0.8em;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #b6f2cf;
    border-radius: 10px;
  }
}
