@use "../abstracts/mixins";
@use "../abstracts/variables";

html {
  font-size: 62.5%;
  font-family: "Sulphur Point", sans-serif;
  color: variables.$text-main;
}

.logo {
  @include mixins.mobile {
    @include mixins.font(2.4rem, 700);
  }
  @include mixins.tab {
    @include mixins.font(5rem, 700);
  }
  @include mixins.font(5rem, 700);
}

.hero-text {
  &-heading {
    @include mixins.mobile {
      @include mixins.font(2rem, 700);
    }
    @include mixins.tab {
      @include mixins.font(2rem, 700);
    }
    @include mixins.font(5rem, 700);
  }

  &-content {
    margin: 1em 0 2em;
    color: variables.$text-sub-main;
    @include mixins.font(2.4rem, 300);
  }
}

.cta-text {
  @include mixins.font(2.4rem, 700);
}

.benifits {
  &-header {
    @include mixins.font(5rem, 700);
    text-align: center;
  }

  & .card-heading {
    @include mixins.font(2.4rem, 700);
  }
  & .card-text {
    @include mixins.font(2rem, 300);
    color: variables.$text-sub-main;
    text-align: center;
  }
}

.app-look-text {
  & .app-look-header {
    @include mixins.font(1.6rem, 700);
  }
  & .app-look-header-focus {
    @include mixins.font(5rem, 700);
  }
  & .app-look-content {
    @include mixins.font(2.4rem, 400);
  }
}

.steps {
  &-text-header {
    @include mixins.font(5rem, 700);
  }

  &-text-content {
    @include mixins.font(2.4rem, 300);
  }
}

.step-header {
  @include mixins.font(2rem, 700);
}
.step-content {
  @include mixins.font(2rem, 300);
  color: variables.$text-sub-main;
}

.form-section {
  &-text-header {
    @include mixins.font(5rem, 700);
    text-align: center;
  }

  &-text-content {
    @include mixins.font(2.4rem, 300);
    color: variables.$text-sub-main;
  }
}

.form-input {
  @include mixins.font(2rem, 300);
  &::placeholder {
    color: variables.$text-sub-main;
  }
}

.phone-country-code {
  @include mixins.font(2rem, 700);
}

.form-btn {
  @include mixins.font(2.2rem, 700);
}

.station-search-header {
  @include mixins.font(5rem, 300);
}

.station-search-text {
  @include mixins.font(2.2rem, 300);
  color: variables.$text-sub-main;
}

.footer-main {
  & .mission {
    width: 30%;
    &-text {
      @include mixins.font(2.4rem, 300);
      color: variables.$text-sub-main;
    }
  }

  & .legal-links {
    &-header {
      @include mixins.font(3rem, 700);
      color: #cacaca;
    }
    & .link {
      @include mixins.font(2.4rem, 300);
      text-decoration: underline;
      color: variables.$text-sub-main;
    }
  }

  & .contacts {
    &-header {
      @include mixins.font(3rem, 700);
    }

    & .contact-phone,
    .contact-mail {
      @include mixins.font(2.4rem, 700);
      margin-top: 0.5em;
      text-decoration: underline;
    }

    & .subscribe-input {
      @include mixins.font(2rem, 300);
    }
  }
}

.copyright {
  @include mixins.font(1.4rem, 300);
}
