@use "../abstracts/mixins";

.pd-sides {
  @include mixins.mobile {
    padding: 0 5rem;
  }

  @include mixins.tab {
    padding: 0 5em;
  }

  padding: 0 15rem;
}

.mg-top-70 {
  margin-top: 6em;
}

.spacer {
  flex: 1;
}

.mg-top-25 {
  margin-top: 2.5em;
}

.mg-right-1 {
  margin-right: 1em;
}

.box-center {
  display: grid;
  place-items: center;
}

.heading {
  @include mixins.font-heading;
  text-transform: capitalize;
}
.sub-heading {
  @include mixins.font-sub-heading;
  text-transform: capitalize;
}
.content {
  @include mixins.font-content;
  margin-bottom: 1.5em;
  &:last-of-type {
    margin-bottom: 0;
  }
}
